.search-wrapper {
  border: none;
  padding: 0;
  /* margin-bottom: 50px; */
}

.search-input {
  margin-top: 20px;
  margin-bottom: 25px;
  background: transparent url("../../../images/magnifying-glass-solid.svg")
    no-repeat left !important;
  width: 200px;
  border: 1px solid #555;
  display: block;
  padding: 9px 4px 9px 40px;
  background-size: 23px !important;
  background-position: 3% center !important;
  border-width: 2px;
  height: 32px;
  background: whitesmoke;
  border-radius: 5px;
}

.search-results {
  margin-left: 50px;
  margin-bottom: 50px;
  font-size: 20px;
}

@media (min-width: 481px) and (max-width: 768px) {
  .search-wrapper {
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
}
