.MainWindow {
  position: relative;
  /* height:100vh; */
}

.MainWindow.light {
  background-color: #d0d4dd;


  color: #333333;
  transition: 0.3s;
}

.MainWindow.dark {
  background-color: #353540;
  color: #ffffff;
  transition: 0.3s;
}


