.expenses-table{
    display: flex;
    width: 80%;
    margin: auto;
    padding-bottom: 50px;
    opacity: 0.85;
    flex-direction: column;

    
}

.expenses-total{
    float: right;
}

.lightgreen-row{
    color: Black !important;
}

.pink-row {
    color: red !important;
  }

  .table {
    margin-left: auto;
    margin-right: 50px;
}

.table.light {
    --bs-table-color: none !important;
}

:root {
    --bs-table-bg: #f5fcff !important;
}




  .delete-button{
    color: red;
    border: none;
    background: none;
  }

  .update-button{
        color: green;
    border: none;
    background: none;
  }
  