.expenses-table-wrapper {
  height: 100vh;
  display: inline-block;
  margin-right: 0;
  padding-right: 0;
  opacity: 0.85;
  width: 100%;
}

.expenses-table-wrapper.light {
  background-color: #eeeeee;
  color: #333333;
  transition: background-color 0.3s, color 0.3s;
  height: auto;
}

.expenses-table-wrapper.dark {
  background: linear-gradient(
      to bottom,
      rgba(2, 2, 2, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
  color: #ffffff;
  transition: background-color 0.3s, color 0.3s;
  height: auto;
}

.table-exp {
  width: 80%;
  margin: auto;
  /* padding-right: 50px; */
  --bs-table-bg: #f5fcff !important;
}

.expensesTable-title {
  padding-bottom: 15px;
  padding-top: 50px;
  display: flex;
  justify-content: center;
}
