.expenses-table-wrapper {
  height: 100;
  display: inline-block;
  margin-right: 0;
  padding-right: 0;
  opacity: 0.85;
  width:100%;
  &.light {
    background-color: #dbf3fa;
    color: #333333;
    transition: 0.3s;
    
  }
  &.dark {
    background-color: #00004d;
    color: #ffffff;
    transition: 0.3s;
  }
}

.table-exp {
  width: 80%;
  margin: auto;
  /* padding-right: 50px; */
  --bs-table-bg: #f5fcff !important;
}

.expensesTable-title {
  padding-bottom: 15px;
  padding-top:50px;
}
