.input-container-wrapper {
  display: flex;
  padding-left: 5%;
}
.inputs-wrapper {
  display: flex;
  gap: 10px;
}

.expenses-inputs,
.incomes-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 30px;
}

.incomes-label,
.expenses-label,
.expenses-dropdown,
.incomes-dropdown,
.name,
.date {
  display: block;
  font: 0.8rem "Fira Sans", sans-serif;
  width: 175px;
  border-radius: 0;
}

#expenses,
#incomes,
#expenses-dropdown,
#incomes-dropdown,
#name,
#date {
  margin: 0.4rem 0;
  height: 1.5rem;
  width: 175px;
  border: none;
}

.btn-secondary {
  --bs-btn-color: #5c636a !important;
  --bs-btn-bg: #fff !important;
}

.dropdown-toggle::after {
  margin-left: 4.2em !important;
}

.date-input {
  border: 1px solid #ccc;
  padding: 5px;
  width: 175px;
}

.date-input {
  border: 1px solid #ccc;
  padding: 5px;
}

.date-input:invalid + .date-picker::before {
  content: "Select a date on or before today";
  color: gray;
  font-size: 14px;
}

.date-input:valid + .date-picker::before {
  content: "Select a date";
  font-size: 14px;
}

.date-input::-webkit-inner-spin-button,
.date-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.date-input[type="date"] {
  -webkit-appearance: none;
  appearance: none;
  padding: 5px;
}

.date-input:disabled {
  color: lightgray;
  background-color: #f2f2f2;
  cursor: not-allowed;
}

@media (min-width: 1025px) and (max-width: 1268px) {
  .input-container-wrapper {
    display: flex;
    padding: auto;
    justify-content: center;
  }
}

@media (min-width: 770px) and (max-width: 1023px) {
  .input-container-wrapper {
    display: flex;
    padding: auto;
    justify-content: center;
  }

  .input-container-wrapper {
    display: flex;
    padding: auto;
    justify-content: center;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .inputs-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: all 0.3s ease;
  }

  .input-container-wrapper {
    display: flex;
    padding: auto;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .inputs-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-items: center;
    margin: auto;
  }
}
