.chart-wrapper {
    height: 250px;
    width: 40%;
    float: right;
}

/* For screens with width 1268px to 1024px */
@media (min-width: 1025px) and (max-width: 1268px) {
    /* Your CSS rules for this breakpoint */
  }
  
  /* For screens with width 1023px to 769px */
  @media (min-width: 770px) and (max-width: 1023px) {
   .chart-wrapper {
    display: none;
   }
  }
  
  /* For screens with width 768px to 480px */
  @media (min-width: 481px) and (max-width: 768px) {
    .chart-wrapper {
        display: none;
       }
      
  }

  @media (max-width: 480px) {
    .chart-wrapper {
        display: none;
       }
  }
  