.balance-value,
.incomes-value,
.expenses-value {
    font-size: 25px;
    font-weight: 600;
}

.balance {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 70px;
    padding: 10px;
}

.balance-title {
    font-size: 18px;
    font-weight: 600;
}
