.balance-value, .incomes-value, .expenses-value{
    font-size: 45px;
    font-weight: 600;
    display: inline-block;
    /* border: 2px solid black;
    border-radius: 7px; */
    padding: 10px 15px;
    background-color: white;
}

.balance{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 50px;

}

.balance-title{
    font-size: 30px;
    font-weight: 600;
}