@import url("https://fonts.googleapis.com/css2?family=Borel&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Permanent+Marker&display=swap");

.header-wrapper {
  height: 50px;
  display: flex;
  justify-content: space-between;
  z-index: 100;

  /* font-family: "Pacifico", cursive; */
  font-family: "Permanent Marker", cursive;
  align-items: center;
  padding: 10px;
  top: 0;
}

header {
  display: flex;
  justify-items: space-between;
  align-items: center;
  justify-content: center;
}

.HeaderContent {
  display: flex;
  gap: 10rem;
}

.searchButton {
  background-color: #dcdbda;
  border: none;
  outline: none;
  margin-left: -33px;
  cursor: pointer;
}

.svg-inline--fa {
  background-color: transparent;
}

.searchInput input:focus {
  outline: none;
  background-color: white;
}

.header {
  padding: 10px;
}

.header.light {
  background: #a7aab1;
  color: #333333;
  transition: 0.3s;
  position: sticky;
  top: 0;
  z-index: 99;
  height: 7vh;
}

.header.dark {
  background-color: #292932;
  color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 99;
  height: 7vh;
}
