@import url("https://fonts.googleapis.com/css2?family=Borel&family=Pacifico&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

.header-wrapper {
  height: 50px;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  font-family: "Pacifico", cursive;
  align-items: center;
  padding: 10px;
  top: 0;
}

header {
  display: flex;
  justify-items: space-between;
  align-items: center;
  justify-content: center;
}

.HeaderContent {
  display: flex;
  gap: 10rem;
}

.HeaderContent input {
  background-color: #dcdbda;
  border: 1px solid transparent;
  border-radius: 2px;
  font-size: 12px;
  padding: 8px;
  height: 15px;
  width: 200px;
  border-radius: 6px;
  transition: 0.3s;
}

.searchButton {
  background-color: #dcdbda;
  border: none;
  outline: none;
  margin-left: -33px;
  cursor: pointer;
}

.svg-inline--fa {
  background-color: transparent;
}

.searchInput input:focus {
  outline: none;
  background-color: white;
}

.searchInput input:hover {
  background-color: white;
  transition: 0.3s;
}

.header {
  padding: 10px;
}

.header.light {
  background: #a7aab1;
  color: #333333;
  transition: 0.3s;
  position: sticky;
  top: 0;
  z-index: 99;
}

.header.dark {
  background-color: #292932;
  color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 99;
}
