.popup-wrapper{
  position: fixed;
  top:0;
  right: 0;
  bottom: 0;
  left: 0; 
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255,0.7);
  z-index: 9999;
}

.popup-chart {
  padding: 16px;
  width: 40%;
  height: 80vh;
  background: #fff;
  position: relative;
  }

  .close-popup{
    float: right;
  }

